.title {
    color: #fff;
    width: bold;
    text-align: center;
}
.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-radius: 30px;
    margin-top: 20px;
    color: #fff;
    font-size: .9rem;
    background-image: linear-gradient(to right, #6ddba1 , #59c6ef);
}
.top {
    margin-top: 40px;
}
ion-input{
    background-color: #fff;
    padding: 0 20px !important;
    border-radius: 30px;
    margin-top: 20px;
    font-size: .9rem;
    color: black;
    position: relative;
    width: 50%;
}
ion-content{
    --ion-background-color: #333c4e;
}
